Day 3 Lead Qualifier.json
{
  "name": "Day 3 Lead Qualifier",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-form",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -864,
        -176
      ],
      "id": "0f4dae2c-b6ad-469e-83f2-f1e5b9b37d12",
      "name": "Webhook",
      "webhookId": "23f0ce2c-81e5-4f83-ab3c-0d0cc0f7ef21"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7dfe7337-cc15-4d18-8170-cfa2bbe93fd9",
              "name": "full_name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "02340a21-694e-49ec-a51a-bc3c90105144",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "cbb60fee-7233-49f6-94d3-683ce16e2609",
              "name": "budget",
              "value": "={{ $json.body.budget }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        -176
      ],
      "id": "c04c0c00-5d05-48d3-b809-11fbfafc5ae8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "2ccbc9ca-06ee-4958-9a1e-e48052946309",
              "leftValue": "={{ $json.budget }}",
              "rightValue": 500,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -352,
        -176
      ],
      "id": "9a917d3d-4e19-4d4b-97fe-98fd28d12282",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9b76380f-ae99-4231-9dce-7d2f8e01e5c7",
              "name": "Label",
              "value": "Hot lead",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        -224
      ],
      "id": "37c8a996-1beb-443c-bf8b-4d6ed0350782",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9c3b292d-aaa4-45c9-954f-1abbbfa49ff9",
              "name": "label",
              "value": "cold lead",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        -80
      ],
      "id": "44193886-a7c7-4909-9ce5-9834417b8b30",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"status\": \"Hot Lead\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        208,
        -224
      ],
      "id": "e963c30c-1e29-4a07-a2d3-3f480fa34e9e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"status\": \"cold Lead\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        112,
        -80
      ],
      "id": "0aaf03c6-97d6-461d-9191-ed1939970cc4",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2b9ce98e-fbac-40c3-a14e-23160ebf09a6",
  "meta": {
    "instanceId": "b58ec0c16eed38b555d5278e95ecfcce6ff2f831eee26c585422a2b8e01f053e"
  },
  "nodeGroups": [],
  "id": "gFzAkvCPWaANVlHJ",
  "tags": []
}